<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; Creative Design by <em><a href="http://designsbynetguru.com" target="_blank">Yinka Ash a.k.a Netguru</a></em>
        </small>
         <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
        </ul>
    </nav>
    </footer>
   
</div>